$theme-colors: (
  "primary": #900
);

#lemon {
  background-image: url("../demo/demo-assets/citrus-fruit-colorful-delicious-2146386.jpg");
}

#person {
  background-image: url('../demo/demo-assets/attractive-beautiful-beauty-1953962.jpg');
}

// Include all of Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";