$theme-colors: (
  "primary": lightgreen
);



.wrapper {
  position: relative;
}

.header {
  position: absolute;
  top: 50px;
  left: 10px;
  color: #900;
}

// Include all of Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";